<footer>
        <div class="footer-content">
            <div class="footer-info">
                <p class="text-color">&copy; 2023 Moustafa Obari 301245511. </p>
            </div>
            <div class="footer-social">
                <a href="#" target="_blank" class="social-icon"><img src="/images/facebook.png" alt="Facebook" width="24" height="24"></a>
                <a href="#" target="_blank" class="social-icon"><img src="/images/twitter.png" alt="Twitter"width="24" height="24">></a>
                <a href="#" target="_blank" class="social-icon"><img src="/images/linkedin.png" alt="LinkedIn"width="24" height="24"></a>
                <a href="#" target="_blank" class="social-icon"><img src="/images/github.png" alt="GitHub"width="24" height="24"></a>
            </div>
        </div>
    </footer>
</body>
</html>

