<!--footer.ejs_Mercy_Adebayo_301246292_1/10/2023-->
<footer>
        <div class="footer-content">
            <div class="footer-info">
                <p>&copy; 2023 Mercy Adebayo</p>
            </div>
            <div class="footer-social">
                <a href="#" class="social-icon"><img src="/images/facebook.png" alt="Facebook" width="24" height="24"></a>
                <a href="#" class="social-icon"><img src="/images/twitter.png" alt="Twitter"width="24" height="24">></a>
                <a href="https://www.linkedin.com/in/mercyadebayo" class="social-icon"><img src="/images/linkedin.png" alt="LinkedIn"width="24" height="24"></a>
            </div>
        </div>
    </footer>
</body>
</html>

