<!--about.ejs_Mercy_Adebayo_301246292_1/10/2023-->
<%- include('partials/header') %>

  <section class="about-section">
    <section class="row">
      <div class="col-md-4 text-center">
        <img src="/images/headshot.jpeg" alt="Your Name" class="img-fluid rounded-circle" width="200">
      </div>
      <div class="col-md-8">
        <h3>Mercy Adebayo</h3>
        <p>I am currently pursuing a degree in Software Engineering at Centennial College,
           holding a Bachelor's degree in Computer Science with a specialization in Cybersecurity.
           My tech journey is characterized by a passion for innovation and an unwavering commitment to excellence. 
           Along the way, I've had the privilege of working on exciting projects, such as Hand Gesture Recognition 
           and Graphical Authentication Systems, which have deepened my understanding of cutting-edge technologies. 
           My primary interests revolve around AI-related technologies and the latest advancements in cybersecurity, 
           as I am fascinated by their potential to reshape industries. A key strength of mine lies in effective communication
           and collaboration, as I firmly believe that the best solutions emerge from diverse perspectives and teamwork.
           I am perpetually eager to learn and embrace new challenges, recognizing them as crucial steps towards continual improvement 
           and ultimate success.<p>One of my greatest strengths is my ability to listen and collaborate effectively. 
           I believe that the best solutions often arise from diverse perspectives and collaborative efforts. I am always eager 
           to learn and open to new challenges, as I believe that continuous improvement is the key to success.
        </p>
        <p>Download my <a href="/resume/resume.pdf" target="_blank" class="resume-link">resume (PDF)</a> for more details about my qualifications and experiences.</p>
      </div>
      
    </div>
  </section>
<%- include('partials/footer') %>
