<!--
About 
Moustafa Mohammed Obari
3012455111
October 5th 2023 -->
<%- include('partials/header') %>

  <section class="about-section ">
    <section class="row vh">
      <div class="col-md-4 text-center">
        <img src="images/IMG-20200127-WA0021.jpg" alt="Your Name" class="img-fluid rounded-circle" width="200">
      </div>
      <div class="col-md-8">
        <h3>Moustafa Mohammed Obari</h3>
        <p>I am currently pursuing an advanced diploma in Software Engineering at Centennial College. My tech journey is defined by a relentless passion for innovation and a steady commitment to excellence. Throughout my academic and professional pursuits, I've had the privilege of working on intriguing projects, such as My Portfolio and Save & Drip App, which have deepened my understanding of cutting-edge technologies. My primary interests lie in AI-related technologies as I am captivated by their potential to revolutionize industries. One of my standout strengths is my proficiency in effective communication and collaboration, as I firmly believe that the most ingenious solutions emerge from diverse perspectives and collaborative teamwork. I am perpetually hungry for knowledge and excited to embrace new challenges, recognizing them as vital steps towards continuous improvement and ultimate success.
        </p>
        <p>View my <a href="resume/Screenshot 2023-09-30 at 6.18.38 PM.pdf" target="_blank" class="resume-link">resume </a> for more details about my Past Experinces and Qualifications.</p>
      </div>
      
    </div>
  </section>
<%- include('partials/footer') %>
