 <!--
Home 
Moustafa Mohammed Obari
3012455111
October 5th 2023 -->
 <%- include('partials/header') %>

  <section class="hero-wrapper clearfix">
    <div class="tab-1">
      <img src="images/IMG-20200127-WA0021.jpg" class="img-style" alt="hero-image">
    </div>
    <div class="tab-2">
      <h1>Hello!</h1>
        <p>As a current software engineering student, my passion lies in crafting innovative solutions that boost efficiency and drive success for organizations. I'm interested in harnessing the latest technology to create reliable, user-friendly code and systems. With strong leadership abilities and my effective communication, strategic mindset, and creative thinking.
        </p>
        <button class="btn btn-primary"><a href="/about" class="text-white">Learn More About Me</a></button>
    </div>
  </section>

  <section class="trusted-section">
    <h6> Trusted By </h6>
    <img src="images/Google.png" class="img-trust" alt="hero-image">
    
  </section>


  <section class="mission-section">
    <h2>Mission Statement</h2>
      <p>My mission is to consolidate my programming fundamentals, embrace new technologies, excel in coursework, and begin applying my skills through personal projects and internships. Build a strong foundation in coding, problem-solving, and teamwork, and stay updated on industry trends to prepare for a successful career in software development.
      </p>
  </section>
  <%- include('partials/footer') %>
    
