  <!--index.ejs_Mercy_Adebayo_301246292_1/10/2023-->
  <%- include('partials/header') %>

  <section class="welcome-section">
    <div class="welcome-content">
      <h1>WELCOME</h1>
        <p>I am an experienced software engineer with a passion for crafting innovative solutions that drive organizational efficiency and success. My expertise lies in harnessing cutting-edge technology to write robust and user-friendly code, resulting in reliable systems.
        As a seasoned leader, I've honed my skills in motivating, educating, and effectively managing teams of professionals. Together, we've built software programs and meticulously tracked changes to achieve remarkable results.
        I take pride in being a confident communicator, strategic thinker, and an innovative creator. My goal is to develop software that's tailor-made to meet an organization's unique needs, showcasing its core competencies and propelling it towards even greater success.</p>
        <button class="btn btn-primary"><a href="/about" class="text-white">Learn About Me</a></button>
    </div>
</section>


  <section class="mission-section">
    <h2>Mission Statement</h2>
      <p>At the heart of my journey lies an unwavering commitment to becoming an AI engineer, driven by values that guide my every step. I believe in giving my absolute best in all endeavors, for I understand that excellence is the path to meaningful progress. Quitting is never an option on this path of continuous growth and innovation.</p>
      
      <p>My mission transcends personal ambition; it's rooted in the profound belief that my work and service should serve as a catalyst for positive change, leaving an indelible mark on people's lives, both today and for generations to come.</p>

      <p>As an AI engineer, my aim is clear: to harness the transformative power of artificial intelligence to solve complex problems, advance technological frontiers, and elevate the human experience. I am dedicated to the relentless pursuit of knowledge and skills, adapting to the ever-evolving landscape of AI with curiosity and resilience.</p>
  </section>
  <%- include('partials/footer') %>
    
