
<!--
Projects 
Moustafa Mohammed Obari
3012455111
October 5th 2023 -->
<%- include('partials/header') %>
<section class="project-section">
    <h1 style="font-size: 40px; text-align: center; font-weight: bold; padding-top: 20px;"><%= title %></h1>

    <div class="project">
        <img src="images/Screenshot 2023-09-30 at 6.57.32 PM.png" class="image-slider" alt="Project 1">
        <div>
            <h2>Save & Drip App</h2>
        <p>In today's world of online shopping, a significant issue looms large: the inability to try on items before making a purchase. This missing fit and look factor creates a crucial question: How can we ensure that the clothes we buy online will actually fit and suit us? Fortunately, we have a solution for you: the Save & Drip app. Our cutting-edge AI technology eliminates these issues. Now, you can discover the best deals from various designer brands, breaking free from the constraints of a single shop. By simply uploading a picture of yourself, our AI will show you how the entire outfit will look on you. Say goodbye to uncertainty and embrace a more confident online shopping experience with Save&Drip.

        </p>
      </div>
      </div>
    
    <div class="project">
      <img src="images/Screenshot 2023-10-05 at 5.11.35 PM.png" class="image-slider" alt="Project 2">
      <div>
          <h2>My Portfolio</h2>
        <p>Designing my personal portfolio website was a significant achievement in my web development journey. This project showcases my technical skills, creativity, and professional identity. With an elegant layout, responsive design, and interactive features, the website offers a comprehensive view of my capabilities and achievements. It serves as a powerful tool for presenting my work and expertise to the world, reflecting my commitment to excellence in web development.
        </p>
      </div>
      </div>
    
    <div class="project">
      <img src="images/Screenshot 2023-10-05 at 7.07.34 PM.png" class="image-slider" alt="Project 3">
      <div>
          <h2>ParkEasy App</h2>
        <p>Creating a fully designed park reservation app has been a significant achievement in my development journey. This project showcases my proficiency in mobile app development and user-centric design. The app allows users to seamlessly reserve parking spots in advance, simplifying the often frustrating task of finding parking. With a user-friendly interface and robust backend infrastructure, it ensures a smooth and hassle-free experience for both drivers and park administrators. This accomplishment reflects my dedication to crafting innovative solutions that enhance convenience and streamline daily tasks.         </p>
      </div>
      </div>
    </section>
<%- include('partials/footer') %>
