<!--project.ejs_Mercy_Adebayo_301246292_1/10/2023-->

<%- include('partials/header') %>
  <section class="project-section">
      <h1 style="font-size: 40px; text-align: center; font-weight: bold; padding-top: 20px ;" ><%= title %></h1>
    
      <!-- Project 1 -->
      <div class="project">
        <img src="/images/project.png" alt="Project 2">
        <h2>Hand Gesture Recognition System</h2>
        <p>As the project's lead engineer, I oversaw the design, coding, and testing phases. My responsibilities included fine-tuning computer 
          vision algorithms, implementing machine learning models, and optimizing the system's performance. The outcome of our collaborative 
          efforts was a sophisticated system capable of accurately recognizing a wide range of hand gestures, facilitating intuitive human-computer
           interaction. Users could control devices and applications seamlessly through gestures, enhancing accessibility and user experience. 
           This project's success showcased the potential of gesture recognition technology in various fields, from gaming to healthcare and beyond, 
           making it a significant milestone in our technological journey.
        </p>
      </div>
    
      <!-- Project 2 -->
      
      <div class="project">
        <img src="/images/project.png" alt="Project 1">
          <h2>Graphical Authentication System</h2>
        <p>As the project's lead developer,I was responsible for crafting the system's core algorithms and user interface. 
          This involved selecting and integrating graphical elements that users would use to create unique authentication patterns.
           Through rigorous testing and refinement, the outcome was a robust and intuitive authentication solution. Users could draw 
           personalized patterns on a graphical canvas, which served as a secure means of access while offering a memorable and efficient 
           authentication experience. The project's success was marked by enhanced security and user satisfaction, aligning perfectly with 
           its objectives.
        </p>
      </div>
    
      <!-- Project 3 -->
      <div class="project">
        <img src="/images/project.png" alt="Project 3">
        <h2>Home Security System With Raspberry Pi</h2>
        <p>My responsibilities encompassed designing and implementing a comprehensive security system utilizing Raspberry Pi's capabilities. 
          This included setting up cameras, motion sensors, and an alarm system, as well as developing software for real-time monitoring and remote 
          access. The outcome was a highly effective and affordable home security solution that provided homeowners with peace of mind. Users could 
          remotely monitor their homes, receive alerts in case of suspicious activity, and even integrate the system with their smartphones for 
          seamless control. This project showcased the power of DIY technology in enhancing home security and garnered positive feedback for its 
          innovation and functionality.
        </p>
      </div>
    </section>
<%- include('partials/footer') %>
