<!--services.ejs_Mercy_Adebayo_301246292_1/10/2023-->
<%- include('partials/header') %>
<section class="services-section">
    <h2><%= title %></h2>
    <div class="service-card">
        <img src="/images/prog.png" alt="General Programming">
        <h3>Software Development</h3>
        <p>Proficient in software development, I have a proven track record of delivering high-quality applications tailored to meet diverse 
            business needs. I specialize in developing robust, scalable, and efficient software solutions that drive organizational success. 
            With a keen eye for detail and a passion for innovation, I create software that stands out in today's competitive landscape.
        </p>
    </div>
    <div class="service-card">
        <img src="/images/web.png" alt="Web Development">
        <h3>Web Development</h3>
        <p>As a seasoned web developer, I excel in crafting captivating web experiences that leave a lasting impression. 
            My expertise spans front-end and back-end development, enabling me to create responsive and feature-rich websites. 
            I take pride in delivering web solutions that not only meet design standards but also enhance user engagement and satisfaction.
        </p>
    </div>
    <div class="service-card">
        <img src="/images/mobile-apps.png" alt="Mobile Apps">
        <h3>Mobile Apps</h3>
        <p>My expertise in mobile app development centers around the Android platform, leveraging the power of Kotlin and Android Studio. 
            I specialize in crafting mobile applications that provide users with flawless experiences, seamlessly blending functionality with 
            visually appealing designs. Whether the goal is to enhance user engagement or drive business productivity, 
            my commitment remains unwavering in delivering Android apps that consistently surpass expectations
        </p>
    </div>
    <div class="service-card">
        <img src="/images/cybersecurity.png" alt="cybersecurity">
        <h3>Cybersecurity Audits</h3>
        <p>With a strong background in cybersecurity, I conduct comprehensive audits to identify vulnerabilities and fortify digital defenses. 
            My approach includes in-depth assessments, threat analysis, and tailored recommendations to bolster security measures. 
            I am committed to safeguarding digital assets and ensuring data integrity in an ever-evolving threat landscape.</p>
    </div>
    <div class="service-card">
        <img src="/images/mla.png" alt="Machine Learning and AI Solution">
        <h3>Machine Learning and AI Solution</h3>
        <p> I excel in utilizing cutting-edge technologies to engineer intelligent solutions. 
            My expertise lies in predictive analytics, recommendation systems, and natural language processing. 
            I'm dedicated to harnessing AI's potential to address intricate challenges and facilitate data-driven decision-making.
        </p>
    </div>
    <div class="service-card">
        <img src="/images/cloud.png" alt="Cloud Computing Solutions">
        <h3>Cloud Computing Solutions</h3>
        <p>I specialize in cloud computing solutions, assisting clients in optimizing their cloud infrastructure and developing cloud-native applications. 
            My approach ensures scalability, reliability, and cost-efficiency in cloud deployments. I work closely with clients to align their cloud 
            strategies with their business goals, enabling them to leverage the full potential of cloud technology.
        </p>
    </div>
    <div class="service-card">
        <img src="/images/database.png" alt="Database Design and Optimization:">
        <h3>Database Design and Optimization</h3>
        <p>My expertise extends to optimizing existing databases for performance and scalability. I believe that a well-designed 
            database is the backbone of any data-driven application, and I strive to deliver solutions that enhance data management and accessibility.
        </p>
    </div>
</section>
<%- include('partials/footer') %>
