<!--
Services 
Moustafa Mohammed Obari
3012455111
October 5th 2023 -->
<%- include('partials/header') %>
<section class="services-section">
    <h2><%= title %></h2>
    <div class="service-card">
        <img src="/images/prog.png" alt="General Programming">
        <h3>Software Development</h3>
        <p>Experienced software developer with a proven record of delivering tailored, high-quality applications. Specializing in robust, scalable solutions that drive success. A keen eye for detail and a passion for innovation set me apart in a competitive field.
        </p>
    </div>
    <div class="service-card">
        <img src="/images/web.png" alt="Web Development">
        <h3>Web Development</h3>
        <p>With a wealth of experience in web development, I excel at crafting immersive web experiences that make a lasting impression. My expertise spans both front-end and back-end development, enabling me to create responsive and feature-rich websites. I take pride in delivering web solutions that not only adhere to design standards but also elevate user engagement and satisfaction to new heights.
        </p>
    </div>
    <div class="service-card">
        <img src="/images/database.png" alt="Database Design and Optimization:">
        <h3>Database Design and Optimization</h3>
        <p>I bring expertise in optimizing databases for peak performance and scalability. I firmly believe that a well-designed database forms the foundation of any data-driven application. My focus is on delivering solutions that elevate data management and accessibility to new heights.
        </div>

    <div class="service-card">
        <img src="/images/mobile-apps.png" alt="Mobile Apps">
        <h3>Mobile Apps</h3>
        <p>My focus lies in creating mobile applications that seamlessly combine functionality with visually engaging designs, aiming to provide users with flawless experiences. While I'm on a learning journey as a beginner, my commitment to delivering Android apps that exceed expectations remains unwavering, whether it's about enhancing user engagement or boosting business productivity.
        </p>
    </div>
   
</section>
<%- include('partials/footer') %>
